{% if prizes == [] %}
    <h2>Nie dodano jeszcze żadnych nagród</h2>
{% elif prizes %}
    <table>
        <thead>
        <tr><th colspan="2">Nagroda</th></tr>
        <tr>
            <th>Nazwa</th>
            <th>Rok przyznania</th>
        </tr>
        </thead>
        <tbody>
            {% for prize in prizes %}
                <tr>
                    <td>{{prize.nazwa}}</td>
                    <td>
                    {% if prize.rok_przyznania and prize.rok_przyznania != -1 %}
                        {{prize.rok_przyznania}}
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>            
    </table>
{% endif %}
<p></p>