{% extends 'index.html' %}

{% block description %}
    <h2>Imię: {{artist.imie}}</h2>
    <h2>Nazwisko: {{artist.nazwisko}}</h2>
    {% if artist.data_urodzenia and artist.data_urodzenia != -1 %}
        <h2>Data urodzenia: {{artist.data_urodzenia}}</h2>
    {% endif %}
    {% if artist.data_smierci and artist.data_smierci != -1 %}
        <h2>Data śmierci: {{artist.data_smierci}}</h2>
    {% endif %}
{% endblock %}
{% block content %}
    <table>
    {% if artist_type %}
        <thead>
        <tr><th>Typ artysty</th></tr>
        </thead>
        <tbody>
        {% for types in artist_type %}
            <tr><td>{{types.typ}}</td></tr>
        {% endfor %}
        </tbody>
    {% endif %}
    </table>
    <p></p>
    {% include "snippets/table_prizes.html" %}
    <table>
    {% if roles %}
        <thead>
        <tr><th colspan="4">Role w filmach i serialach</th></tr>
        <tr>
            <td>Tytuł</td>
            <td>Rola na planie</td>
            <td>Postać</td>
            <td>Rok produkcji</td>
        </tr>
        </thead>
        <tbody>
        {% for role in roles %}
            <tr>
                <td>{{role.nazwa}}</td>
                <td>{{role.rola}}</td>
                <td>{{role.postac}}</td>
                <td>{{role.rok_produkcji}}</td>
            </tr>
        {% endfor %}
        </tbody>            
    {% endif %}
    </table>
{% endblock %}