{% extends 'admin_menu.html'%}

{% block description %}
<div id="add_artist">
    <h1>Dodaj artystę</h1>
    <form action="/admin/artist" method="POST">
        <fieldset>
            <legend>Wprowadź dane</legend>
            <label for="fname">Imię</label><br>
            <input type="text" name="fname" id="fname"><br>
            <label for="fname">Nazwisko</label><br>
            <input type="text" name="lname" id="lname"><br>
            <label for="birth">Rok urodzenia</label><br>
            <input type="number" name="birth" id="birth" min="1800" max="2021"><br>
            <label for="death">Rok śmierci</label><br>
            <input type="number" name="death" id="death" min="1800" max="2021"><br>
            <p>Wybierz co najmniej jedno pole</p>
            <input type="checkbox" id="actor" name="actor">
            <label for="actor">Aktor</label><br>
            <input type="checkbox" id="director" name="director">
            <label for="director">Reżyser</label><br>
            <input type="checkbox" id="producer" name="producer">
            <label for="producer">Producent</label><br>
            <input type="checkbox" id="screenwriter" name="screenwriter">
            <label for="screenwriter">Scenarzysta</label><br>
            <p>Serial lub film, w którym udział brał artysta</p>
            <p>musi być już w bazie!</p>
            <button type="button" onclick=addNextMovieOrSeries()>Dodaj kolejne pole</button>
            <button type="button" onclick=removeLastMovieOrSeries()>Usuń ostatnie pole</button>
            <div id="list"></div>
            <input type="submit" value="Dodaj">
        </fieldset>
    </form>
    <section class="placeholder"></section>
</div>

<script src="{{ url_for('static', filename='js/forms.js') }}"></script>
{% endblock %}