{% extends 'index.html' %}

{% block description %}
    <h1>{{game.nazwa}}</h1>
    <h3>Rok produkcji: {{game.rok_produkcji}}</h3>
    <h3>Studio: {{game.studio}}</h3>
    <h3>Sprzedaż: {{game.sprzedaz}}</h3>
    <fieldset>
    {% if game.opis %}
        {{game.opis}}
    {% else %}
        Brak opisu
    {% endif %}
    </fieldset>
    <form action="/game/{{game.id_gra}}" method="POST">
        <button name="submit" id="game_prize" value="prize">Nagrody</button>
        {% if 'user' in session %}
            <button name="submit" id="game_comments" value="comments">Komentarze</button>
        {% endif %}
    </form>
{% endblock %}
{% block content %}
    {% include "snippets/table_prizes.html" %}
    {% include "snippets/table_comments.html" %}
{% endblock %}