{% extends 'base.html' %}

{% block body %}
    <header>
        <div class="search">
            <h1>Wyszukaj film, serial lub grę</h1>

            <form action="/" method="POST">
                <input type="search" id="mainFindForm" name="mainFindForm">
                <input type="submit" value="Szukaj">
            </form>
        </div>
        <div class="login">
            {% if 'user' in session %}
                <button name="logout" id="logout_user" onclick="toLogout()">Wyloguj</button>
                <button name="account" id="account_user" onclick="toAccount()">Twoje konto</button>
            {% else %}
                <button name="login" id="login_user" onclick="toLogin()">Logowanie</button>
                <button name="register" id="register_user" onclick="toRegister()">Rejestracja</button>
            {% endif %}
        </div>
    </header>
{% endblock %}