{% extends 'base.html' %}

{% block header %}
    <header>
        <div class="search">
            <h1>Wyszukaj film, serial lub grę</h1>

            <form action="/" method="POST">
                <input type="search" id="mainFindForm" name="mainFindForm">
                <input type="submit" value="Szukaj">
            </form>
        </div>
        <div class="login">
            <button name="logout" id="main_page" onclick="toMainMenu()">Strona główna</button>
            {% if 'user' in session %}
                <button name="account" id="account_user" onclick="toAccount()">Twoje konto</button>
                <button name="stats" id="stats_page" onclick="toStats()">Statystyki</button>
                <button name="admin" id="admin_page" onclick="toAdminMenu()">Edycja</button>
                <button name="logout" id="logout_user" style="background-color:red;" onclick="toLogout()">Wyloguj</button>
            {% else %}
                <button name="login" id="login_user" style="background-color:green;" onclick="toLogin()">Logowanie</button>
                <button name="register" id="register_user" style="background-color:green;" onclick="toRegister()">Rejestracja</button>
            {% endif %}
        </div>
    </header>
{% endblock %}