{% extends 'index.html' %}

{% block description %}
    <h1>{{movie.nazwa}}</h1>
    <h3>Rok produkcji: {{movie.rok_produkcji}}</h3>
    <h3>Studio: {{movie.studio}}</h3>
    <h3>Box-office: {{movie.box_office + "$"}}</h3>
    <fieldset>
    {% if movie.opis %}
        {{movie.opis}}
    {% else %}
        Brak opisu
    {% endif %}
    </fieldset>

    <form action="/movie/{{movie.id_film}}" method="POST">
        <button name="submit" id="movie_cast" value="cast">Obsada</button>
        <button name="submit" id="movie_prize" value="prize">Nagrody</button>
        {% if 'user' in session %}
            <button name="submit" id="movie_comments" value="comments">Komentarze</button>
        {% endif %}
    </form>
{% endblock %}
{% block content %}
    {% include "snippets/table_cast.html" %}
    {% include "snippets/table_prizes.html" %}
    {% include "snippets/table_comments.html" %}
{% endblock %}