{% extends 'index.html' %}

{% block description %}
    <h1>{{series.nazwa}}</h1>
    <h3>Rok produkcji: {{series.rok_produkcji}}</h3>
    <fieldset>
    {% if series.opis %}
        {{series.opis}}
    {% else %}
        Brak opisu
    {% endif %}
    </fieldset>
    <form action="/series/{{series.id_serial}}" method="POST">
        <button name="submit" id="series_seasons" value="seasons">Sezony</button>
        <button name="submit" id="series_cast" value="cast">Obsada</button>
        <button name="submit" id="series_prize" value="prize">Nagrody</button>
        <button name="submit" id="series_comments" value="comments">Komentarze</button>
    </form>
{% endblock %}
{% block content %}
    <table>
    {% if cast %}
        <thead>
        <tr><th colspan="3">Obsada</th></tr>
        <tr>
            <td>Imię i nazwisko</td>
            <td>Rola</td>
            <td>Postać</td>
        </tr>
        </thead>
        <tbody>
        {% for person in cast %}
            <tr>
                <td><a href="/artist/{{person.id_artysta}}">{{person.imie + " " + person.nazwisko}}</a></td>
                <td>{{person.rola}}</td>
                <td>{{person.postac}}</td>
            </tr>
        {% endfor %}
        </tbody>
    {% elif seasons %}
        <thead>
            <tr><th colspan="2">Sezony</th></tr>
            <tr>
                <td>Lp</td>
                <td>Rok produkcji</td>
            </tr>
        </thead>
        <tbody>
            {% for season in seasons %}
            <tr>
                <td><a href="/series/{{season.id_serial}}/{{season.id_sezon}}">Sezon {{loop.index}}</a></td>
                <td>{{season.rok_produkcji}}</td>
            </tr>
            {% endfor %}
        </tbody>
    {% elif prizes %}
        <thead>
            <tr><th colspan="3">Nagroda</th></tr>
            <tr>
                <td>Lp</td>
                <td>Nazwa</td>
                <td>Rok przyznania</td>
            </tr>
        </thead>
        <tbody>
        {% for prize in prizes %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{prize.nazwa}}</td>
                <td>{{prize.rok_przyznania}}</td>
            </tr>
        {% endfor %}
        </tbody>   
    {% endif %}
    </table>
{% endblock %}