{% extends 'index.html' %}

{% block description %}
    <h1>{{series.nazwa}}</h1>
    <h3>Rok produkcji: {{series.rok_produkcji}}</h3>
    <fieldset>
    {% if series.opis %}
        {{series.opis}}
    {% else %}
        Brak opisu
    {% endif %}
    </fieldset>
    <form action="/series/{{series.id_serial}}" method="POST">
        <button name="submit" id="series_seasons" value="seasons">Sezony</button>
        <button name="submit" id="series_cast" value="cast">Obsada</button>
        <button name="submit" id="series_prize" value="prize">Nagrody</button>
        {% if 'user' in session %}
            <button name="submit" id="series_comments" value="comments">Komentarze</button>
        {% endif %}
    </form>
{% endblock %}
{% block content %}
    {% include "snippets/table_cast.html" %}
    {% if seasons %}
        <table>
            <thead>
                <tr><th colspan="2">Sezony</th></tr>
                <tr>
                    <td>Lp</td>
                    <td>Rok produkcji</td>
                </tr>
            </thead>
            <tbody>
                {% for season in seasons %}
                <tr>
                    <td><a href="/series/{{season.id_serial}}/{{season.id_sezon}}">Sezon {{loop.index}}</a></td>
                    <td>{{season.rok_produkcji}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% include "snippets/table_prizes.html" %}
    {% include "snippets/table_comments.html" %}
{% endblock %}